#
# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_CORNEISH_ZEN_LEFT
    bool

config BOARD_CORNEISH_ZEN_RIGHT
    bool

config ZMK_STUDIO_SUPPORT
    bool "Enable ZMK Studio Support"
    default y
    help
      This option enables support for ZMK Studio features
